*{ margin: 0; padding: 0; }

.clearfix{
	overflow: auto;
}

.wrapper{
	margin: 0 auto;
	width: 100%;
	height: 100%; 
}

.topbar{
	padding: 20px;
	
	width: 100%;
	height: 70px;
	background: #000;
	background: linear-gradient(#333, #444, #333);
}
.topbar p{
	color: white;
	font-size: 35px;
	font-variant: small-caps;
}

/*div.menu{
	margin-right: 20px; 
	width: 100%;
	height: 1000px;
	background: black:  
}*/
div.nav{
	float: left;
	width: 100px;
}

/*navigation bar*/
ul {
	border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #f1f1f1;
}
li a {
	border-radius: 20px;
	margin-bottom: 20px;
	text-align: center;
    display: block;
    color: #000;
    padding: 10px 0px;
    text-decoration: none;
}

li a.active {
	background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
	background-color: #555;
    color: white;
}
/*welcome heading*/
.welcome{
	height: 40px;
	border-radius: 2px;
	display: inline-block;
	background-color: #666699;
	padding: 10px 10px;
	width: 179px;
	font-size: 10px;
	font-style: small-caps;
}
/*home page image*/
div.mySlides{
	float: right;
	width: 1150px;
}
div.calandar{
	float: right;
	width: 200px;
}
div.logout{
	padding-right: 20px;
	font: 	Arial;
	border-top: 0;
	float: right;
	font-size: 30px;
	color: white;
}
